body {
	font-family: Helvetica, Arial, san-serif;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 20px;
}

.sociable {
	list-style:none;
}

.sociable li {
	float:left;
	border:none;
	padding-right: 10px;
}

.sociable li a {border:none;}