<% if current_user %>
<% if @coupons.empty? %>
<p>Sorry, this merchant needs to complete set-up before you can get a discount!</p>
<% else %>
  <% if @shop.multiple_use == false && posted %>
  	<p>Sorry, you've already posted before!</p>
  <% else %>
  	Welcome <%= current_user.name %>!
  	<%= link_to "Sign Out", signout_path %>
  
  	<p><%= link_to "Post to #{current_user.provider.capitalize} and get your coupon!", status_update_path %></p>
  <% end %>
<% end %>
<% else %>
  <p>To receive your discount code, please click on one the buttons below. We will post a message letting your friends know that you are shopping at our store. Just a little appreciation in exchange for a discount!</p>

<ul class="sociable">
	<li>
  	<a href="/auth/twitter"><img src="http://couponsociable.herokuapp.com/assets/login_twitter.png" border="0" /></a>
  </li>
  	<li>
  	<a href="/auth/facebook"><img src="http://couponsociable.herokuapp.com/assets/login_facebook.png" border="0" /></a>
  	</li>	
</ul>
<% end %>