<% if current_user %>
  <% if @shop.multiple_use == false && posted %>
  	<p>Sorry, you've already posted before!</p>
  <% else %>
  	Welcome <%= current_user.name %>!
  	<%= link_to "Sign Out", signout_path %>
  
  	<p><%= link_to "Post to #{current_user.provider.capitalize} and get your coupon!", status_update_path %></p>
  <% end %>
<% else %>
  <a href="/auth/twitter"><img src="http://coupon-sociable.herokuapp.com/assets/login_twitter.png" /></a> or <a href="/auth/facebook"><img src="http://coupon-sociable.herokuapp.com/assets/login_facebook.png" /></a>
<% end %>