<% if current_user && posted %>

<p>Thanks! Your coupon code is:</p>

<p><%= @coupon_code %></p>

<p><b>Copy</b> the code above and <b>Paste</b> it when prompted on our checkout page.</p>

<% else %>

Sorry, you must first post to Facebook or Twitter to get the coupon code!

<% end %>